::-webkit-scrollbar {
    display: none;
}

html {
    font-size: 1rem;
}

@media only screen and (max-width: 500px) {
    .btn {
        font-size: 0.8rem!important;
    }
}

@media only screen and (max-width: 400px) {
    .btn {
        font-size: 0.6rem!important;
    }
}

body {
    padding: 80px 40px 40px 40px;
}

.input-group-addon {
    min-width: 90px;
    text-align: left;
}

.help-block {
    text-align: left !important;
    display: inline-block !important;
    width: 100% !important;
}

.pre-scrollable {
    border: 1px solid #ddd;
    border-radius: 5px;
}

.alert {
    width: 45%;
    margin-left: 27.5%;
}